<h2>ENTREMIENTO PERSONALIZADO</h2><br>



<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <p>¿QUE ES UN ENTRENAMIENTO PERSONALIZADO?</p>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Aqui una definicion de lo que es: </strong> Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Quas sequi deserunt assumenda nobis totam. Perspiciatis dolore voluptas nulla nesciunt eius
                delectus voluptatum, totam adipisci nostrum doloribus quasi sunt? Numquam, porro.
            </div>
        </div>
    </div><br>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
                    aria-expanded="true" aria-controls="collapseOne">
                    <p>¿COMO PUEDES ACCEDER A ESTE ENTRENAMIENTO?</p>
                </button>
            </h2>
            <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Aqui una definicion de lo que es: </strong> Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quas sequi deserunt assumenda nobis totam. Perspiciatis dolore voluptas nulla
                    nesciunt eius delectus voluptatum, totam adipisci nostrum doloribus quasi sunt? Numquam, porro.
                </div>
            </div>
        </div><br>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                        <p>¿DONDE PUEDES ACCEDER A ESTE ENTRENAMIENTO?</p>
                    </button>
                </h2>
                <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Aqui una definicion de lo que es: </strong> Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quas sequi deserunt assumenda nobis totam. Perspiciatis dolore voluptas nulla
                        nesciunt eius delectus voluptatum, totam adipisci nostrum doloribus quasi sunt? Numquam, porro.
                    </div>
                </div>
            </div><br>

            <h3>Accede a nuestros planes que incluyen:</h3><br>
            <div class="container align-content-center d-inline-flex gap-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.freepik.com/foto-gratis/pesos-ejercicio-pesas-fuerte-atletica_1139-709.jpg?w=2000"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PLAN 1</h5>
                        <p class="card-text"><strong>Definicion:</strong> Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Quisquam rerum voluptate soluta obcaecati aliquam libero beatae veritatis
                            incidunt vero impedit illo, sapiente repudiandae quasi magni perspiciatis doloribus tempora
                            consequatur deleniti!.</p>
                        <p style="color: blue;">Incluye:</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 hora de asesoria personalizada</li>
                        <li class="list-group-item">20 min entrenamiento por grupo muscular</li>
                        <li class="list-group-item">15 min de estiramiento asistido</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <br>

                <div class="card" style="width: 18rem;">
                    <img src="https://d500.epimg.net/cincodias/imagenes/2019/05/02/lifestyle/1556809482_591063_1556811610_noticia_normal.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PLAN 2</h5>
                        <p class="card-text"><strong>Definicion:</strong> Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Quisquam rerum voluptate soluta obcaecati aliquam libero beatae veritatis
                            incidunt vero impedit illo, sapiente repudiandae quasi magni perspiciatis doloribus tempora
                            consequatur deleniti!.</p>
                        <p style="color: blue;">Incluye:</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 hora de cardio asistido</li>
                        <li class="list-group-item">20 min de entrenamiento con pesas</li>
                        <li class="list-group-item">30 min de ejercicio aerobico</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://as01.epimg.net/deporteyvida/imagenes/2018/03/14/portada/1521050434_557929_1521050572_noticia_normal_recorte1.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PLAN 3</h5>
                        <p class="card-text"><strong>Definicion:</strong> Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Quisquam rerum voluptate soluta obcaecati aliquam libero beatae veritatis
                            incidunt vero impedit illo, sapiente repudiandae quasi magni perspiciatis doloribus tempora
                            consequatur deleniti!.</p>
                        <p style="color: blue;">Incluye:</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 hora de cardio asistido</li>
                        <li class="list-group-item">20 min de entrenamiento con pesas</li>
                        <li class="list-group-item">30 min de ejercicio aerobico</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/fitness-woman-doing-a-cardio-session-on-a-treadmill-royalty-free-image-940256188-1567408518.jpg?crop=1xw:0.74965xh;center,top&resize=1200:*"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PLAN 4</h5>
                        <p class="card-text"><strong>Definicion:</strong> Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Quisquam rerum voluptate soluta obcaecati aliquam libero beatae veritatis
                            incidunt vero impedit illo, sapiente repudiandae quasi magni perspiciatis doloribus tempora
                            consequatur deleniti!.</p>
                        <p style="color: blue;">Incluye:</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 hora de cardio asistido</li>
                        <li class="list-group-item">20 min de entrenamiento con pesas</li>
                        <li class="list-group-item">30 min de ejercicio aerobico</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<button type="button" class="btn btn-primary align-items-center">SELECCIONAR</button>
